In [49]:
#import modules
import pandas as pd
import numpy as np 
import seaborn as sb
import pandas_profiling
import matplotlib.pyplot as plt
import sqlalchemy as db
from sqlalchemy import MetaData, Table

In [50]:
#connecting to database
engine = db.create_engine("sqlite:///im.db")

In [51]:
#getting all table names
inspector = db.inspect(engine)
table_names = inspector.get_table_names()

In [52]:
metadata = MetaData()
connection = engine.connect()
all_data = []

#create for loop to get lists from tables
for i in table_names:
    t = Table(i, metadata, autoload = True, autoload_with=engine )
    query = db.select([t])
    ResultProxy = connection.execute(query)
    ResultSet = ResultProxy.fetchall()
    all_data.append(ResultSet)

In [53]:
len(all_data)

8

In [54]:
table_names

['directors',
 'known_for',
 'movie_akas',
 'movie_basics',
 'movie_ratings',
 'persons',
 'principals',
 'writers']

In [55]:
table_names

directors = pd.DataFrame(all_data[0])
known_for = pd.DataFrame(all_data[1])
movie_akas = pd.DataFrame(all_data[2])
movie_basics = pd.DataFrame(all_data[3])
movie_ratings = pd.DataFrame(all_data[4])
persons = pd.DataFrame(all_data[5])
principals = pd.DataFrame(all_data[6])
writers = pd.DataFrame(all_data[7])

In [56]:
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

In [57]:
directors

         movie_id   person_id
0       tt0285252   nm0899854
1       tt0462036   nm1940585
2       tt0835418   nm0151540
3       tt0835418   nm0151540
4       tt0878654   nm0089502
...           ...         ...
291169  tt8999974  nm10122357
291170  tt9001390   nm6711477
291171  tt9001494  nm10123242
291172  tt9001494  nm10123248
291173  tt9004986   nm4993825

[291174 rows x 2 columns]