In [1]:
#import modules
import pandas as pd
import numpy as np 
import seaborn as sb
import pandas_profiling
import matplotlib.pyplot as plt
import sqlalchemy as db
from sqlalchemy import MetaData, Table

In [2]:
#connecting to database
engine = db.create_engine("sqlite:///im.db")

In [3]:
#getting all table names
inspector = db.inspect(engine)
table_names = inspector.get_table_names()

In [4]:
metadata = MetaData()
connection = engine.connect()
all_data = []

#create for loop to get lists from tables
for i in table_names:
    t = Table(i, metadata, autoload = True, autoload_with=engine )
    query = db.select([t])
    ResultProxy = connection.execute(query)
    ResultSet = ResultProxy.fetchall()
    all_data.append(ResultSet)

In [5]:
len(all_data)

8

In [6]:
table_names

['directors',
 'known_for',
 'movie_akas',
 'movie_basics',
 'movie_ratings',
 'persons',
 'principals',
 'writers']

In [7]:
table_names

directors = pd.DataFrame(all_data[0])
known_for = pd.DataFrame(all_data[1])
movie_akas = pd.DataFrame(all_data[2])
movie_basics = pd.DataFrame(all_data[3])
movie_ratings = pd.DataFrame(all_data[4])
persons = pd.DataFrame(all_data[5])
principals = pd.DataFrame(all_data[6])
writers = pd.DataFrame(all_data[7])

In [8]:
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

In [11]:
movie_akas

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0