In [1]:
#import modules
import pandas as pd
import numpy as np 
import seaborn as sb
import pandas_profiling
import matplotlib.pyplot as plt
import sqlalchemy as db
from sqlalchemy import MetaData, Table
from pandas_profiling import ProfileReport

In [2]:
#connecting to database
engine = db.create_engine("sqlite:///im.db")

In [3]:
#getting all table names
inspector = db.inspect(engine)
table_names = inspector.get_table_names()

In [4]:
metadata = MetaData()
connection = engine.connect()
all_data = []

#create for loop to get lists from tables
for i in table_names:
    t = Table(i, metadata, autoload = True, autoload_with=engine )
    query = db.select([t])
    ResultProxy = connection.execute(query)
    ResultSet = ResultProxy.fetchall()
    all_data.append(ResultSet)

In [5]:
# creating dataframes
directors = pd.DataFrame(all_data[0])
known_for = pd.DataFrame(all_data[1])
movie_akas = pd.DataFrame(all_data[2])
movie_basics = pd.DataFrame(all_data[3])
movie_ratings = pd.DataFrame(all_data[4])
persons = pd.DataFrame(all_data[5])
principals = pd.DataFrame(all_data[6])
writers = pd.DataFrame(all_data[7])

In [6]:
#change person_id to diector_id
directors.columns = ["movie_id", "director_id"]
directors

         movie_id director_id
0       tt0285252   nm0899854
1       tt0462036   nm1940585
2       tt0835418   nm0151540
3       tt0835418   nm0151540
4       tt0878654   nm0089502
...           ...         ...
291169  tt8999974  nm10122357
291170  tt9001390   nm6711477
291171  tt9001494  nm10123242
291172  tt9001494  nm10123248
291173  tt9004986   nm4993825

[291174 rows x 2 columns]

In [7]:
#change person_id to writer_id
writers.columns = ["movie_id", "writer_id"]
writers

         movie_id   writer_id
0       tt0285252   nm0899854
1       tt0438973   nm0175726
2       tt0438973   nm1802864
3       tt0462036   nm1940585
4       tt0835418   nm0310087
...           ...         ...
255868  tt8999892  nm10122246
255869  tt8999974  nm10122357
255870  tt9001390   nm6711477
255871  tt9004986   nm4993825
255872  tt9010172   nm8352242

[255873 rows x 2 columns]

In [8]:
#merge direcors and writers
# directors_writers = pd.merge(left=directors, right=writers, left_on='movie_id', right_on='movie_id')
# directors.merge(writers, how='outer')

In [19]:
# directors_writers.duplicates

In [73]:
#filter out repeating columns
akas = movie_akas[['movie_id', 'ordering', 'region', 'language', 'types','attributes']]

In [12]:
#joining movie_ratings and movie_basics columns
basics_ratings = pd.merge(left=movie_basics, right=movie_ratings, left_on='movie_id', right_on='movie_id')

In [72]:
#joining basics_ratings and movie akas
br_akas = (basics_ratings.merge(akas, on="movie_id")).drop_duplicates(subset='movie_id', keep="first")
br_akas

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,ordering,region,language,types,attributes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,1,IN,hi,None,alternative transliteration
5,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43,1,XWW,en,None,None
9,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,10,VE,None,None,None
22,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13,1,IN,bn,None,None
25,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119,1,None,None,original,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261792,tt9899860,Watching This Movie Is a Crime,Didan in film jorm ast,2019,100.0,"Drama,Thriller",8.1,7,1,XWW,en,imdbDisplay,None
261795,tt9899880,Columbus,Columbus,2018,85.0,Comedy,5.8,5,1,None,None,original,None
261797,tt9903952,BADMEN with a good behavior,BADMEN with a good behavior,2018,87.0,"Comedy,Horror",9.2,5,1,DE,None,None,None
261800,tt9905462,Pengalila,Pengalila,2019,111.0,Drama,8.4,600,1,None,None,original,None
261803,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,1,None,None,original,None

In [27]:
#change column names of person
persons.columns = ['person_id', 'person_name', 'person_birth_year', 'person_death_year', 'person_primary_profession']

#change column names of principals
principals.columns = ['movie_id', 'ordering', 'person_id', 'person_category', 'person_job', 'person_characters']

#merging the two dataframes
principal_person = principals.merge(persons)

Index(['person_id', 'person_name', 'person_birth_year', 'person_death_year',
       'person_primary_profession'],
      dtype='object')

In [74]:
#merge known for movie
known_for.columns = ['person_id', 'known_movie_id']

Index(['person_id', 'movie_id'], dtype='object')